/* login.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-left: 20px;
    width: 350px;
}

h1{
    font-family: cambria;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 8px 6px;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    background-color: #004080;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 127px;
    border-radius: 20px;
}

button:hover {
    background-color: #003060;
}
